@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
body{
    height: 100vh;
    background:url("images/img-2.jpg") no-repeat center / cover;
    padding: 50px 5%;
}
.container{
    position:relative;
    height:100%;
    background:rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    backdrop-filter:blur(1px);
    transform:scale(0);
    animation:zoom-in 1s ease forwards;
    
}
.container a{
   
    font-size: 25px; 
    font-weight: 1000;/* Adjust to your preferred size */
  


}


/* Optional: Reduce spacing in header */

@keyframes zoom-in{
    100%{
        transform:scale(1);
    }
}
header {
    position: absolute;
    top: 0;
    width:100%;
    padding:20px 5%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index: 100; /* Keep it above other elements */
    background-color: rgb(255, 255, 255); /* Optional: keep background solid while scrolling */
}

.animated{
    transform:translateY(30px);
    opacity:0;
    animation:slide-in 1s ease forwards;
    animation-delay:1s;

}
@keyframes slide-in{
    100%{
        transform:translateY(0);
        opacity:1;
    }
}
.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 21px;
    color:black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
.navbar a:hover,
.navbar a.active{
    border-color:rgb(0, 0, 0);


}
.home{
    display: flex;
    align-items:center;
    height:100%;
    gap:50px;
    padding:50px 5% 0;
    color:black;
    animation-delay:1.5s;

}
.home-detail h1{
    font-size:45px;
    margin-bottom:20px;
    line-height:1;
}
.home-detail h2{
    font: size 32px;
    margin-bottom:15px;

}
.home-details p{
    margin:10px 0 20px;
    line-height:1.8;
    margin-top:10px;
    margin-bottom:30px;
}

.home-detail .social-icons{ 
        margin-left: 20px;

}
.home-detail .social-icons a{
    display:inline-flex;
    padding:3px;
    border: 2px solid #000000;
    border-radius: 50%;
    font-size: 20px;
    color:#000000;
    text-decoration: none;
    margin:0 8px;
    transition: 0.5s;
}

.home-detail .social-icons a:hover{
    background:#e68b8b;
    box-shadow: 0 0 10px #6b6969;
    color: black;

}

.home-img .img-box {
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid #060303;
    border-radius: 50%;
    box-shadow: 0 0 20px #130707;
    overflow: hidden;
}

.home-img .img-box img {
    position: absolute;
    top: 1px;
    display: block;
    width: 100%;
    object-fit: cover;
}

.about {
    padding: 100px 5% 50px;
    color: black;
    animation-delay: 2s;
}

.about-content {
    max-width: 800px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.about-content h2 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.about-content p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 15px;
    text-align:justify;
}

.skills {
    padding: 100px 5% 50px;
    color: black;
    animation-delay: 2.5s;
}

.skills-content {
    max-width: 800px;
    margin: auto;
    background-color: rgba(245, 221, 221, 0.489);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.skills-content h3 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.skills-content p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

.skill {
    margin-bottom: 25px;
}

.skill-name {
    font-weight: 600;
    margin-bottom: 8px;
}

.skill-bar {
    background: #ffffff;
    height: 22px;
    border-radius: 20px;
    overflow: hidden;
}

.skill-level {
    background: #d47188;
    color: white;
    height: 100%;
    padding-left: 10px;
    line-height: 25px;
    border-radius: 20px;
    transition: width 1s ease;
}

html {
    scroll-behavior: smooth;
}
.projects {
    padding: 100px 5% 50px;
    color: black;
    animation-delay: 3s;
}

.projects-content {
    max-width: 900px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.projects-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.projects-content p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

.project {
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-left: 5px solid #d18484;
    border-radius: 10px;
}

.project h3 {
    font-size: 19px;
    margin-bottom: 10px;
    color: #4f4b4b;
}

.project p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}
.memberships {
  padding: 100px 5% 50px;
  color: black;
  animation-delay: 4.5s;
}

.memberships-content {
  max-width: 900px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.memberships-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.memberships-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.membership {
  margin-bottom: 25px;
  padding: 20px;
  background: rgba(255, 204, 204, 0.6);
  border-left: 5px solid #985858;
  border-radius: 10px;
  text-align: left;
}

.membership h3 {
  font-size: 19px;
  margin-bottom: 8px;
}

.membership p {
  font-size: 16px;
  line-height: 1.6;
}

.contact {
    padding: 100px 5% 50px;
    color: black;
    animation-delay: 3.5s;
}

.contact-content {
    max-width: 800px;
    margin: auto;
    background-color: rgba(240, 167, 167, 0.4);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contact-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.contact-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
    font-size: 21px;
}

.contact-info a {
    color: #000;
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #111010;
}

.contact-form button {
    padding: 10px;
    background-color: #f0dddd;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background-color: #948f8f;
}
.achievements {
  padding: 100px 5% 50px;
  color: rgb(0, 0, 0);
  animation-delay: 4s;
}

.achievements-content {
  max-width: 900px;
  margin: auto;
  background-color: rgba(251, 226, 224, 0.4);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.achievements-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.achievements-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.achievement {
  margin-bottom: 25px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
  border-left: 5px solid #a96060;
  border-radius: 10px;
  text-align: left;
}

.achievement h3 {
  font-size: 19px;
  margin-bottom: 8px;
}

.achievement p {
  font-size: 16px;
  line-height: 1.6;
}

